{{!-- Bootstrap --}}

<div class="offersCard">

    <img src="{{picture}}" alt="{{title}}">

    <h3> {{title}}</h3>

    <span><a href="/user/{{ creator._id }}">{{creator.name}} | </a>{{date createdAt}}</span>
    <br>
    <span><strong>Genres</strong>: 
        {{#each genres}}  {{this}} {{#unless @last}},{{/unless}}</span>
        {{/each}}
        <br />
    <span><strong>Material</strong>: 
        {{#each materials}}  {{this}} {{#unless @last}},{{/unless}}</span>
        {{/each}}
        <br />

    <span>
    {{#if price}}
        <strong>Price</strong>: 
        {{price}} € </span>
        {{else}} <strong> It's for free!</strong>{{/if}}
        <br />

    <a href="/offer/{{ _id }}">See Details</a>
</div>

{{!-- <div class="container">
  <div class="row">
    <div class="col-4">
    </div>
  </div>
</div> --}}
