<div>
    <h1> {{title}}</h1>
    <a href="/user/{{ creator._id }}"><p>{{creator.name}} | {{date createdAt}}</p></a>
    <span><strong>Genres</strong>: 
        {{#each genres}}  {{this}} {{#unless @last}},{{/unless}}</span>
        {{/each}}
        <br />
    <span><strong>Material</strong>: 
        {{#each materials}}  {{this}} {{#unless @last}},{{/unless}}</span>
        {{/each}}
        <br />

    <span>
    {{#if price}}
        <strong>Price</strong>: 
        {{price}} € </span>
        {{else}} <strong> It's for free!</strong>{{/if}}
        <br />

    <a href="/offer/{{ _id }}">See Details</a>
</div>