 {{>navbar}}

<div class="project-space">
  <div class="project-space-info">
    <h2>Project Space: <a href="/user/{{project.creator.id}}">{{project.creator.name}}</a>: <em>{{project.title}}</em></h2>
    <span>
    materials used from waste-mgmt: {{#each project.materials}}{{this}} {{/each}}
      <a href="{{project.insta}}">@hauck_pluempe</a>  
     <a href="{{project.web  }}">{{project.web }}</a>
   </span>
  </div>
    {{#each project.picture}}
      <img src="{{this}}" alt="photo of project" />
    {{/each}}
</div>

<p>Welcome to {{title}} To have a look at the offerings please sign up first</p>

<h2>Latest offers</h2>
<div class="offersWraper">
{{#each offers}}
  {{>offersCard}}
{{#unless @last}}<br />{{/unless}}
{{/each}}
</div>

<a href="/offer/offer-suggestions">See all Offerings</a></span>