 {{>navbar}}
<div class="project-space">
 
      {{#each project.picture}}
      <img src="{{this}}" class="project-img" alt="photo of project" style="display:none"/>
      {{/each}}

      <img src="{{project.picture.[0]}}" id="slider" class="slider" alt="">

 
  <div class="project-space-info">
    <h2>Project Space: <a href="/user/{{project.creator.id}}">{{project.creator.name}}</a>: <em>{{project.title}}</em> (2021)</h2>
    <span>
    materials used from waste-mgmt: {{#each project.materials}}{{this}}{{#unless @last}},{{/unless}} {{/each}}
      <a href="{{project.insta}}">@hauck_pluempe</a>  
     <a href="{{project.web  }}">{{project.web }}</a>
   </span>
  </div>
</div>

<h1>Latest offers</h1>
<div class="offersWrapper">
{{#each offers}}
  {{>offersCard}}
{{#unless @last}}<br />{{/unless}}
{{/each}}
</div>
<div class="go-button-wrapper">
<a href="/offer/offer-suggestions" class="go-button centered">See all offers</a></span>
</div>

<script>

const imgArray = document.getElementsByClassName('project-img')
const slider = document.querySelector('.slider')

let curIndex = 0;
let imgDuration = 5000; // duration for single image - don't mess around with values :)

function slideShow() {
    slider.className += "fadeOut";
    setTimeout(function() {
        slider.src = imgArray[curIndex].src;
        slider.className = "";
    },1000);
    curIndex++;
    if (curIndex == imgArray.length) { curIndex = 0; }
    setTimeout(slideShow, imgDuration);
}
slideShow();



</script>