 {{>navbar}}

<div class="offerCard">

{{#each offer.picture}}
<img src="{{this}}" alt="photo of object" />
{{/each}}

<h1>
  {{offer.title}}
</h1>
<a href="/user/{{ offer.creator._id }}">
<p>{{offer.creator.name}}</a> | {{date offer.createdAt}}</p>


<span><strong>Genres</strong>: {{#each offer.genres}}  {{this}} {{#unless @last}},{{/unless}}</span>
{{/each}}
<br />
<span><strong>Material</strong>: {{#each offer.materials}}  {{this}} {{#unless @last}},{{/unless}}</span>
{{/each}}
<br />
<p>{{offer.description}}</p>
<span>
 <strong>Location</strong>: {{offer.location}}
</span>

{{#if offer.price}}
<h3>Price: {{offer.price}} €</h3>

{{else}}
<h3>{{offer.alternativepayment}}</h3>
{{/if}}

{{#if userIsOwner}}
<form action="/offer/{{offer._id}}/edit" >
  <button>Edit</button>
</form>

<form action="/offer/{{ offer._id}}/delete" method="POST">
  <button>Deactivate this offer</button>
</form>

{{else}}
{{!-- <form action="/offer/{{ offer._id}}/offer-email"> --}}
<form action="/email/{{ offer._id}}/send-email">
  <button>Send Email</button>
</form>
{{/if}}
</div>