 {{>navbar}}

<div class="offer-single">
  <h1 class="h1-centered">
    {{offer.title}}
  </h1>

  {{#each offer.picture}}
    <img src="{{this}}" alt="photo of object" />
  {{/each}}

  <hr>

  <div class="description">
    <h2>{{offer.description}}</h2>
  </div>

  <div class="offer-details">

      <p><a href="/user/{{ offer.creator._id }}">
        {{offer.creator.name}}</a> | {{date offer.createdAt}}</p>
      <p>Genres: {{#each offer.genres}}{{this}}{{#unless @last}}, {{/unless}}
        {{/each}}
      </p>

      <p>Material: {{#each offer.materials}}{{this}}{{#unless @last}}, {{/unless}}
        {{/each}}
      </p>

      <p>
        Location: {{offer.location}}
      </p>

      {{#if offer.price}}
        <p>Price: {{offer.price}} €</p>
      {{/if}}

    {{#if userIsOwner}}
      <form action="/offer/{{offer._id}}/edit" >
        <div class="go-button-wrapper">
          <button class="go-button centered nav-btn">Edit offer</button>
        </div>
      </form>

      <form action="/offer/{{ offer._id}}/delete" method="POST">
        <div class="go-button-wrapper">
          <button class="go-button centered nav-btn">Deactivate offer</button>
        </div>
      </form>

    {{else}}
    {{!-- <form action="/offer/{{ offer._id}}/offer-email"> --}}
      <form action="/email/{{ offer._id}}/send-email">
        <div class="go-button-wrapper">
          <button class="go-button centered nav-btn">Send Email</button>
        </div>
      </form>
    {{/if}}
  </div>
</div>

{{> footer}}