<h1>{{user.name}}'s Profile</h1>
<p>This page should only be accessible to authenticated users.</p>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<br />

  <span><strong>Genres</strong>: {{#each user.genres}}  {{this}} {{#unless @last}},{{/unless}}</span>
{{/each}}
<br />
<span><strong>Location</strong>: {{user.location}}</span>

<img src="{{user.picture}}" alt="Profile Picture" />