
<h1>{{profile.name}}'s Profile</h1>
<img src="{{profile.picture}}" alt="Profile Picture" />

<span><strong>Name</strong>: {{profile.name}}</span>
<br />
<span><strong>Email</strong>: {{profile.email}}</span>
<br />

  <span><strong>Genres</strong>: {{#each profile.genres}}  {{this}} {{#unless @last}},{{/unless}}</span>
{{/each}}
<br />
<span><strong>Location</strong>: {{profile.location}}</span>

{{#if userIsOwner}}
<form action="/user/{{profile._id}}/edit" >
  <button>Edit my profile</button>
</form>

<form action="/user/{{ profile._id}}/delete" method="POST">
  <button>Delete my profile</button>
</form>
{{/if}}

<h3>{{ profile.name }}'s Offers:</h3>

{{#each userOffers}}
  {{>offersCard}}
{{#unless @last}}<br />{{/unless}}
{{/each}}

